#root,
.appRoot,
.uitkFlexLayout {
  height: 100%;
}

body {
  background: var(--figma-color-bg);
}

.figma-light,
.uitk-light {
  color-scheme: light;
}

.figma-dark,
.uitk-dark {
  color-scheme: dark;
}

.uitk-light textarea,
.uitk-dark textarea {
  resize: none;
  flex: 1;
}
