#root,
.appRoot,
.uitkFlexLayout {
  height: 100%;
}

body {
  background: var(--figma-color-bg);
  font-family: "Open Sans";
}

.figma-light {
  color-scheme: light;
}

.figma-dark {
  color-scheme: dark;
}

.uitk-density-touch.uitk-density-touch,
.uitk-density-low.uitk-density-low,
.uitk-density-medium.uitk-density-medium,
.uitk-density-high.uitk-density-high {
  /* This shouldn't be defined 4 times */
  --uitk-typography-fontFamily: "Open Sans";
}

.appRoot textarea {
  resize: none;
  flex: 1;
}
